# Deliverable 2

Scrape and Analyze Mars Weather Data

In [1]:
'''Scrape the Mars Temperature website by using Splinter and Beautiful Soup.'''

# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

# Set the executable path 
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# Visit the Mars temperature site
url = 'https://data-class-mars-challenge.s3.amazonaws.com/Mars/index.html'
browser.visit(url)

html = browser.html
html_soup = soup(html, 'html.parser')

[WDM] - Downloading: 100%|██████████| 6.46M/6.46M [00:00<00:00, 9.87MB/s]

In [2]:
import pandas as pd

# Find the table
table = html_soup.find('table', class_='table')

# Find the headers and add to a list
headers_items = table.find_all('th')
headers_list = [headers.text for headers in headers_items]

#Create an empty dataframe with the appropriate columns
data = pd.DataFrame(columns = headers_list)

# Find all the rows
rows = table.find_all('tr')

# Create for loop to iterate through all the rows in the table 
for values in rows[1:]: # Row starts under the tag 'tr'
    row_data = values.find_all('td') # Find all rows
    row = [value.text for value in row_data] # Add row data to a list
    length = len(data) # Find the number off columns in the data dataframe
    data.loc[length] = row # Add the data along the length of the dataframe

# View dataframe
data

        id terrestrial_date   sol   ls month min_temp pressure
0        2       2012-08-16    10  155     6    -75.0    739.0
1       13       2012-08-17    11  156     6    -76.0    740.0
2       24       2012-08-18    12  156     6    -76.0    741.0
3       35       2012-08-19    13  157     6    -74.0    732.0
4       46       2012-08-20    14  157     6    -74.0    740.0
...    ...              ...   ...  ...   ...      ...      ...
1862  1889       2018-02-23  1973  133     5    -78.0    730.0
1863  1892       2018-02-24  1974  134     5    -77.0    729.0
1864  1894       2018-02-25  1975  134     5    -76.0    729.0
1865  1893       2018-02-26  1976  135     5    -77.0    728.0
1866  1895       2018-02-27  1977  135     5    -77.0    727.0

[1867 rows x 7 columns]

In [3]:
# Check data types of values in each column
data.dtypes

id                  object
terrestrial_date    object
sol                 object
ls                  object
month               object
min_temp            object
pressure            object
dtype: object

In [4]:
# Convert the data types to their appropriate types:
data_convert = data.astype({'id': int, 'sol': int, 'ls': int, 'min_temp': float, 'pressure': float})
data_convert['terrestrial_date'] = pd.to_datetime(data_convert['terrestrial_date'])

data_convert.dtypes

id                           int32
terrestrial_date    datetime64[ns]
sol                          int32
ls                           int32
month                       object
min_temp                   float64
pressure                   float64
dtype: object

In [5]:
browser.quit()

In [6]:
# Export the dataframe to a csv file 
data.to_csv('deliverable2.csv', index = False)

In [11]:
"""1. How many months exist on Mars?"""
data['month'].max()

# Answer: 9 months

'9'

In [12]:
"""2. How many Martian (and not Earth) days worth of data exist in the scraped dataset?"""
len(data.index)

# Answer: 1867 Days

1867

In [21]:
"""3. What are the coldest and the warmest months on Mars (at the location of Curiosity)? 
Get the answer by averaging the minimum daily temperature of all the months. Plot the results as a bar chart."""
#monthTemp = data.groupby(by = 'month').mean()
import numpy as np
import statistics

#monthTemp = data.groupby('month').agg({'min_temp': [np.mean]})
GroupBy = data.groupby('month')

TypeError: Could not convert -75.0-77.0-75.0-75.0-75.0-77.0-76.0-76.0-76.0-77.0-75.0-79.0-77.0-76.0-79.0-79.0-77.0-78.0-78.0-78.0-79.0-79.0-79.0-76.0-77.0-77.0-78.0-77.0-78.0-79.0-79.0-78.0-78.0-77.0-76.0-79.0-77.0-78.0-75.0-79.0-79.0-79.0-79.0-78.0-80.0-78.0-82.0-81.0-81.0-80.0-81.0-81.0-82.0-81.0-63.0-76.0-75.0-76.0-76.0-74.0-78.0-75.0-75.0-77.0-76.0-74.0-77.0-76.0-77.0-76.0-80.0-76.0-77.0-77.0-77.0-76.0-77.0-79.0-80.0-77.0-77.0-78.0-75.0-76.0-76.0-78.0-79.0-77.0-77.0-76.0-78.0-78.0-78.0-78.0-77.0-77.0-79.0-77.0-78.0-78.0-79.0-76.0-77.0-80.0-78.0-78.0-82.0-77.0-77.0-81.0-79.0-80.0-80.0-77.0-76.0-75.0-76.0-62.0-76.0-76.0-77.0-75.0-77.0-77.0-76.0-76.0-76.0-75.0-76.0-77.0-76.0-77.0-77.0-76.0-76.0-76.0-75.0-77.0-75.0-77.0-77.0-76.0-76.0-77.0-77.0-76.0-76.0-77.0-76.0-77.0-79.0-76.0-75.0-76.0-76.0-77.0-78.0-78.0-77.0-78.0-78.0-77.0-78.0-78.0-77.0-78.0-78.0-77.0-78.0-78.0-78.0-76.0-79.0-79.0 to numeric





4. Which months have the lowest and the highest atmospheric pressure on Mars? Get the answer by averaging the daily atmospheric pressure of all the months. Plot the results as a bar chart.


5. About how many terrestrial (Earth) days exist in a Martian year? That is, in the time that Mars circles the Sun once, how many days elapse on Earth? Visually estimate the result by plotting the daily minimum temperature.